<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetSolutionWorkSample</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

            input[type=text]:focus {
                width: 100%;
            }
    </style>

</head>
<body>
    <div style="width: 50%; padding-top: 50px; margin-left:  auto; margin-right:  auto;">
        <div>
            <input type="text" id="movieInput" onkeyup="movieSearch()" placeholder="Search for movie name.." title="Type in movie title">
        </div>

        <div style="padding: 10px;margin: 10px 0;background: #fcfcfc;border: 1px solid #e9e9e9;display: inline-block;">
            <label>
                Page:
                <select id="pager">
 
                </select>
            </label>
        </div>
        <div id="jsGrid"></div>
        <script>

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "800px",

                inserting: false,
                editing: false,
                sorting: true,

                rowClick: function (args) {
                    showDetailsDialog("Edit", args.item);
                },

                fields: [
                    { name: "ID", type: "number", width: 150, validate: "required" },
                    { name: "Title", type: "text", width: 50 },
                    { name: "Overview", type: "text", width: 200 },
                    { type: "control" }
                ]
            });

            var onPageSelect = function () {
                var pageNr = parseInt($("#pager").val(), 10);

                $.ajax({
                    url: "/Home/TopRatedMovies",
                    type: "POST",
                    data: {
                        page: pageNr
                    }
                }).done(function (data) {
                    var db = [];

                    $(data.results).each(function (index) {
                        db.push({
                            "ID": data.results[index].id,
                            "Title": data.results[index].title,
                            "Overview": data.results[index].overview
                        });
                    });

                    $("#jsGrid").jsGrid({
                        data: db
                    });
                });
            };

            $("#pager").on("change", onPageSelect);

            $(function () {
                var s = $("#pager");

                for (var i = 1; i <= 1000; i++) {
                   $("<option />", { value: i, text: i }).appendTo(s);
                }
                
                $(s).wrap('<table><tr><td></td></tr></table>');
            });

            //Call it once ---WRONG why to implement this
            onPageSelect();

            function movieSearch() {
                var input = $("#movieInput").val()

                $.ajax({
                    url: "/Home/SearchMovieByName",
                    type: "POST",
                    data: {
                        searchName: input
                    }
                }).done(function (data) {
                    var db = [];

                    $(data.results).each(function (index) {
                        db.push({
                            "ID": data.results[index].id,
                            "Title": data.results[index].title,
                            "Overview": data.results[index].overview
                        });
                    });

                    $("#jsGrid").jsGrid({
                        data: db
                    });
                });
            };


        </script>
    </div>
</body>
</html>