<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetSolutionWorkSample</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
</head>
<body>
    <div class="wrapper">

        <div id="modal-detail" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Movie details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="ID"></div>
                        <div id="Title"></div>
                        <div id="Popularity"></div>
                        <div id="Overview"></div>
                        <div id="Release_Date"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>      

        <div class="tab">
            <button class="tablinks" onclick="openMovies(event, 'TopRated')">Top rated</button>
            <button class="tablinks" onclick="openMovies(event, 'Popular')">Popular</button>
            <button class="tablinks" onclick="openMovies(event, 'Upcoming')">Upcoming</button>
            <button class="tablinks" onclick="openMovies(event, 'FreeSearch')">Free search</button>
        </div>

        <div id="TopRated" class="tabcontent">
            <h3>Top rated</h3>
            <p>The top rated movies on TMDb.</p>
        </div>

        <div id="Popular" class="tabcontent">
            <h3>Popular</h3>
            <p>A list of the current popular movies on TMDb.</p>
        </div>

        <div id="Upcoming" class="tabcontent">
            <h3>Upcoming</h3>
            <p>A list of upcoming movies in theatres</p>
        </div>

        <div id="FreeSearch" class="tabcontent">
            <h3>Free search</h3>
            <p>Movies or movie that match the name will appear</p>
            <div>
                <input type="text" id="movieInput" placeholder="Search for movie name.." title="Type in movie title">
            </div>
        </div>

        <div id="pagerWrapper" class="pagerStyle">
            <label>
                Page:
                <select id="pager"></select>
            </label>
        </div>

        <div id="sorterWrapper" class="sort-panel">
            <label>
                Sorting Field:
                <select id="sortingField">
                    <option>Title</option>
                    <option>Popularity</option>
                </select>
                <button type="button" id="sort">Sort</button>
            </label>
        </div>

        <div id="jsGrid"></div>
    </div>

    <script type="text/javascript">
        var url = "";

        $(function () {

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "800px",

                inserting: false,
                editing: false,
                sorting: true,

                rowClick: function (row) {
                    console.log(row.item.ID)
                    $.ajax({
                        url: "/api/movie/GetMovieAsync/" + row.item.ID,
                        type: "GET"
                    }).done(function (data) {

                        $("#modal-detail").modal("show");

                        $("#ID").html("ID: " + data.id);
                        $("#Title").html("Title: " + data.title);
                        $("#Popularity").html("Popularity: " + data.popularity);
                        $("#Overview").html("Overview: " + data.overview);
                        $("#Release_Date").html("Release date: " +data.release_Date);
                    });
                },

                fields: [
                    { name: "Title", type: "text" },
                    { name: "Popularity", type: "number", validate: "required" },
                    { name: "ID", type: "number" },
                ]
            });

            $("#movieInput").keyup(function () {
                var input = $("#movieInput").val()

                $.ajax({
                    url: "/api/movie/GetMovieByNameAsync/" + input,
                    type: "GET"
                }).done(function (data) {
                    var db = [];

                    $(data.results).each(function (index) {
                        db.push({
                            "ID": data.results[index].id,
                            "Title": data.results[index].title,
                            "Popularity": data.results[index].popularity
                        });
                    });

                    $("#jsGrid").jsGrid({
                        data: db
                    });
                });
            });

            window.onPageSelect = function () {
                var pageNr = parseInt($("#pager").val(), 10);

                $.ajax({
                    url: "/api/movie/" + url + "/" + pageNr,
                    type: "GET"
                }).done(function (data) {
                    var db = [];

                    $(data.results).each(function (index) {
                        db.push({
                            "ID": data.results[index].id,
                            "Title": data.results[index].title,
                            "Popularity": data.results[index].popularity
                        });
                    });

                    $("#jsGrid").jsGrid({
                        data: db
                    });
                });
            };

            $("#pager").on("change", onPageSelect);

            $(function () {
                var s = $("#pager");

                for (var i = 1; i <= 1000; i++) {
                    $("<option />", { value: i, text: i }).appendTo(s);
                }

                $(s).wrap('<table><tr><td></td></tr></table>');
            });

            $("#sort").click(function () {
                var field = $("#sortingField").val();
                $("#jsGrid").jsGrid("sort", field);
            });

            $("#pagerWrapper").hide();
            $("#sorterWrapper").hide();
            $("#jsGrid").hide();

        })

        function openMovies(evt, Movies) {

            $("#pagerWrapper").show();
            $("#sorterWrapper").show();
            $("#jsGrid").show();

            switch (Movies) {
                case "TopRated":
                    url = "GetRatedMoviesAsync";
                    break;
                case "Popular":
                    url = "GetPopularMoviesAsync";
                    break;
                case "Upcoming":
                    url = "GetUpcomingMoviesAsync";
                    break;
                case "FreeSearch":
                    $("#pagerWrapper").hide();
                    $("#sorterWrapper").hide();
                    break;
            }

            //Always start from page 1 when switching between tabs
            $("#pager").val(1);
            onPageSelect();

            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(Movies).style.display = "block";
            evt.currentTarget.className += " active";
        };
    </script>
</body>
</html>