<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetSolutionWorkSample</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

</head>
<body>
    <div style="width: 50%; padding-top: 50px; margin-left:  auto; margin-right:  auto;">

        <div class="tab">
            <button class="tablinks" onclick="openMovies(event, 'TopRated')">Top rated</button>
            <button class="tablinks" onclick="openMovies(event, 'Popular')">Popular</button>
            <button class="tablinks" onclick="openMovies(event, 'Upcoming')">Upcoming</button>
            <button class="tablinks" onclick="openMovies(event, 'FreeSearch')">Free search</button>
        </div>

        <div id="TopRated" class="tabcontent">
            <h3>Top rated</h3>
            <p>The top rated movies on TMDb.</p>
        </div>

        <div id="Popular" class="tabcontent">
            <h3>Popular</h3>
            <p>A list of the current popular movies on TMDb.</p>
        </div>

        <div id="Upcoming" class="tabcontent">
            <h3>Upcoming</h3>
            <p>A list of upcoming movies in theatres</p>
        </div>

        <div id="FreeSearch" class="tabcontent">
            <h3>Free search</h3>
            <p>Movies or movie that match the name will appear</p>
            <div>
                <input type="text" id="movieInput" placeholder="Search for movie name.." title="Type in movie title">
            </div>
        </div>
        <div id ="pagerWrapper" style="padding: 10px;margin: 10px 0;background: #fcfcfc;border: 1px solid #e9e9e9;display: inline-block;">
            <label>
                Page:
                <select id="pager"></select>
            </label>
        </div>

        <div id="jsGrid"></div>
    </div>
</body>
</html>